<?xml version='1.0' encoding='utf-8'?>
<widget id="com.timbond.tinyhome" version="1.0.0">
	<name>Tiny Home</name>
	<description>Tabris.js app for Tiny Home APIs</description>
	<author email="apps@tim-bond.com" href="http://www.tim-bond.com.com/">Tim Bond</author>

	<platform name="ios">
	</platform>

	<platform name="android">
		<icon src="resources/android/drawable-mdpi/ic_launcher.png" density="mdpi" />
		<icon src="resources/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
		<icon src="resources/android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
		<icon src="resources/android/drawable-xxhdpi/ic_launcher.png" density="xxhdpi" />
		<icon src="resources/android/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
	</platform>
</widget>